<table>
  <tr>
    <td id="0" (click)="handleClick($event)">{{ squares[0] }}</td>
    <td id="1" (click)="handleClick($event)">{{ squares[1] }}</td>
    <td id="2" (click)="handleClick($event)">{{ squares[2] }}</td>
  </tr>
  <tr>
    <td id="3" (click)="handleClick($event)">{{ squares[3] }}</td>
    <td id="4" (click)="handleClick($event)">{{ squares[4]}}</td>
    <td id="5" (click)="handleClick($event)">{{ squares[5] }}</td>
  </tr>
  <tr>
    <td id="6" (click)="handleClick($event)">{{ squares[6] }}</td>
    <td id="7" (click)="handleClick($event)">{{ squares[7] }}</td>
    <td id="8" (click)="handleClick($event)">{{ squares[8] }}</td>
  </tr>
</table>
