<table>
  <tr>
    <td (click)="handleClick()">{{ marker}}</td>
    <td (click)="handleClick()">{{ marker}}</td>
    <td (click)="handleClick()">{{ marker}}</td>
  </tr>
  <tr>
    <td (click)="handleClick()">{{ marker}}</td>
    <td (click)="handleClick()">{{ marker}}</td>
    <td (click)="handleClick()">{{ marker}}</td>
  </tr>
  <tr>
    <td (click)="handleClick()">{{ marker}}</td>
    <td (click)="handleClick()">{{ marker}}</td>
    <td (click)="handleClick()">{{ marker}}</td>
  </tr>
</table>
